<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.business.repository.BizCustomerSubmitRecordMapper">
	<resultMap type="bizCustomerSubmitRecord" id="bizCustomerSubmitRecordResultMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="table_columns">
        id,
		user_id,
		create_time
    </sql>
    <sql id="entity_properties">
        #{id},
        #{userId},
        #{createTime}
    </sql>

    <!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
    <sql id="page_where">
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="createTime != null">and create_time = #{createTime}</if>
        </trim>
    </sql>


    <!-- 适用于主键自增类型 -->

    <insert id="insertSelective" parameterType="bizCustomerSubmitRecord">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into biz_customer_submit_record
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>



    <delete id="deleteByPrimaryKey" parameterType="Long">
        delete from biz_customer_submit_record
        where id = #{id}
    </delete>


    <update id="updateByPrimaryKey" parameterType="bizCustomerSubmitRecord">
        update biz_customer_submit_record
        <trim prefix="set" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        <where>id = #{id}</where>
    </update>



    <select id="selectAll" resultMap="bizCustomerSubmitRecordResultMap">
        select <include refid="table_columns" />
        from biz_customer_submit_record
    </select>

    <select id="select" resultMap="bizCustomerSubmitRecordResultMap">
        select <include refid="table_columns" />
        from biz_customer_submit_record
        <include refid="page_where" />
    </select>

    <select id="getCount" resultType="int" >
        select count(id) from biz_customer_submit_record
        <include refid="page_where" />
    </select>


    <select id="getByPrimaryKey" resultMap="bizCustomerSubmitRecordResultMap" parameterType="Long" >
        select <include refid="table_columns" />
        from biz_customer_submit_record
        where id = #{id}
    </select>
	
	<!-- 其他自定义SQL -->


</mapper>