<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.business.repository.BizItemBaseRecordMapper">
	<resultMap type="bizItemBaseRecord" id="bizItemBaseRecordResultMap">
		<result property="id" column="id"/>
		<result property="itemNo" column="item_no"/>
		<result property="itemPic" column="item_pic"/>
		<result property="description" column="description"/>
		<result property="deliveryPort" column="delivery_port"/>
		<result property="itemLength" column="item_length"/>
		<result property="itemWidth" column="item_width"/>
		<result property="itemHeight" column="item_height"/>
		<result property="innerBox" column="inner_box"/>
		<result property="outerCtn" column="outer_ctn"/>
		<result property="weightPieces" column="weight_pieces"/>
		<result property="mininumOrderQuantity" column="mininum_order_quantity"/>
		<result property="cartonLength" column="carton_length"/>
		<result property="cartonWidth" column="carton_width"/>
		<result property="cartonHeight" column="carton_height"/>
		<result property="unitPrice" column="unit_price"/>
		<result property="factoryName" column="factory_name"/>
		<result property="itemCraft" column="item_craft"/>
		<result property="firstLabelId" column="first_label_id"/>
		<result property="secondLabelId" column="second_label_id"/>
		<result property="itemRemark" column="item_remark"/>
		<result property="year" column="year"/>
		<result property="season" column="season"/>
		<result property="delFlag" column="del_flag"/>
		<result property="createTime" column="create_time"/>
		<result property="createUserId" column="create_user_id"/>
		<result property="lastModifyTime" column="last_modify_time"/>
		<result property="modifyUserId" column="modify_user_id"/>
	</resultMap>
	
	<sql id="table_columns">
		id,
		item_no,
		item_pic,
		description,
		delivery_port,
		item_length,
		item_width,
		item_height,
		inner_box,
		outer_ctn,
		weight_pieces,
		mininum_order_quantity,
		carton_length,
		carton_width,
		carton_height,
		unit_price,
		factory_name,
		item_craft,
		first_label_id,
		second_label_id,
		item_remark,
		year,
		season,
		del_flag,
		create_time,
		create_user_id,
		last_modify_time,
		modify_user_id
    </sql>
	<sql id="entity_properties">
		#{id},
		#{itemNo},
		#{itemPic},
		#{description},
		#{deliveryPort},
		#{itemLength},
		#{itemWidth},
		#{itemHeight},
		#{innerBox},
		#{outerCtn},
		#{weightPieces},
		#{mininumOrderQuantity},
		#{cartonLength},
		#{cartonWidth},
		#{cartonHeight},
		#{unitPrice},
		#{factoryName},
		#{itemCraft},
		#{firstLabelId},
		#{secondLabelId},
		#{itemRemark},
		#{year},
		#{season},
		#{delFlag},
		#{createTime},
		#{createUserId},
		#{lastModifyTime},
		#{modifyUserId}
	</sql>

    <!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
    <sql id="page_where">
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="itemNo != null and itemNo != ''">and item_no = #{itemNo}</if>
            <if test="itemPic != null and itemPic != ''">and item_pic = #{itemPic}</if>
            <if test="description != null and description != ''">and description = #{description}</if>
            <if test="deliveryPort != null and deliveryPort != ''">and delivery_port = #{deliveryPort}</if>
            <if test="itemLength != null">and item_length = #{itemLength}</if>
            <if test="itemWidth != null">and item_width = #{itemWidth}</if>
            <if test="itemHeight != null">and item_height = #{itemHeight}</if>
            <if test="innerBox != null">and inner_box = #{innerBox}</if>
            <if test="outerCtn != null">and outer_ctn = #{outerCtn}</if>
            <if test="weightPieces != null">and weight_pieces = #{weightPieces}</if>
            <if test="mininumOrderQuantity != null">and mininum_order_quantity = #{mininumOrderQuantity}</if>
            <if test="cartonLength != null">and carton_length = #{cartonLength}</if>
            <if test="cartonWidth != null">and carton_width = #{cartonWidth}</if>
            <if test="cartonHeight != null">and carton_height = #{cartonHeight}</if>
            <if test="unitPrice != null">and unit_price = #{unitPrice}</if>
            <if test="factoryName != null and factoryName != ''">and factory_name = #{factoryName}</if>
            <if test="itemCraft != null and itemCraft != ''">and item_craft = #{itemCraft}</if>
            <if test="firstLabelId != null">and first_label_id = #{firstLabelId}</if>
            <if test="secondLabelId != null">and second_label_id = #{secondLabelId}</if>
            <if test="itemRemark != null and itemRemark != ''">and item_remark = #{itemRemark}</if>
            <if test="year != null">and year = #{year}</if>
            <if test="season != null">and season = #{season}</if>
            <if test="delFlag != null">and del_flag = #{delFlag}</if>
            <if test="createTime != null">and create_time = #{createTime}</if>
            <if test="createUserId != null">and create_user_id = #{createUserId}</if>
            <if test="lastModifyTime != null">and last_modify_time = #{lastModifyTime}</if>
            <if test="modifyUserId != null">and modify_user_id = #{modifyUserId}</if>
        </trim>
    </sql>


	<!-- 适用于主键自增类型 -->

    <insert id="insertSelective" parameterType="bizItemBaseRecord">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into biz_item_base_record
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="itemNo != null and itemNo != ''">item_no,</if>
            <if test="itemPic != null and itemPic != ''">item_pic,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="deliveryPort != null and deliveryPort != ''">delivery_port,</if>
            <if test="itemLength != null">item_length,</if>
            <if test="itemWidth != null">item_width,</if>
            <if test="itemHeight != null">item_height,</if>
            <if test="innerBox != null">inner_box,</if>
            <if test="outerCtn != null">outer_ctn,</if>
            <if test="weightPieces != null">weight_pieces,</if>
            <if test="mininumOrderQuantity != null">mininum_order_quantity,</if>
            <if test="cartonLength != null">carton_length,</if>
            <if test="cartonWidth != null">carton_width,</if>
            <if test="cartonHeight != null">carton_height,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="factoryName != null and factoryName != ''">factory_name,</if>
            <if test="itemCraft != null and itemCraft != ''">item_craft,</if>
            <if test="firstLabelId != null">first_label_id,</if>
            <if test="secondLabelId != null">second_label_id,</if>
            <if test="itemRemark != null and itemRemark != ''">item_remark,</if>
            <if test="year != null">year,</if>
            <if test="season != null">season,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="lastModifyTime != null">last_modify_time,</if>
            <if test="modifyUserId != null">modify_user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="itemNo != null and itemNo != ''">#{itemNo},</if>
            <if test="itemPic != null and itemPic != ''">#{itemPic},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="deliveryPort != null and deliveryPort != ''">#{deliveryPort},</if>
            <if test="itemLength != null">#{itemLength},</if>
            <if test="itemWidth != null">#{itemWidth},</if>
            <if test="itemHeight != null">#{itemHeight},</if>
            <if test="innerBox != null">#{innerBox},</if>
            <if test="outerCtn != null">#{outerCtn},</if>
            <if test="weightPieces != null">#{weightPieces},</if>
            <if test="mininumOrderQuantity != null">#{mininumOrderQuantity},</if>
            <if test="cartonLength != null">#{cartonLength},</if>
            <if test="cartonWidth != null">#{cartonWidth},</if>
            <if test="cartonHeight != null">#{cartonHeight},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="factoryName != null and factoryName != ''">#{factoryName},</if>
            <if test="itemCraft != null and itemCraft != ''">#{itemCraft},</if>
            <if test="firstLabelId != null">#{firstLabelId},</if>
            <if test="secondLabelId != null">#{secondLabelId},</if>
            <if test="itemRemark != null and itemRemark != ''">#{itemRemark},</if>
            <if test="year != null">#{year},</if>
            <if test="season != null">#{season},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="lastModifyTime != null">#{lastModifyTime},</if>
            <if test="modifyUserId != null">#{modifyUserId},</if>
        </trim>
	</insert>



	<delete id="deleteByPrimaryKey" parameterType="Long">
		delete from biz_item_base_record
		where id = #{id}
	</delete>


	<update id="updateByPrimaryKey" parameterType="bizItemBaseRecord">
		update biz_item_base_record 
		<trim prefix="set" suffixOverrides=",">
            <if test="itemNo != null and itemNo != ''">item_no = #{itemNo},</if>
            <if test="itemPic != null and itemPic != ''">item_pic = #{itemPic},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="deliveryPort != null and deliveryPort != ''">delivery_port = #{deliveryPort},</if>
            <if test="itemLength != null">item_length = #{itemLength},</if>
            <if test="itemWidth != null">item_width = #{itemWidth},</if>
            <if test="itemHeight != null">item_height = #{itemHeight},</if>
            <if test="innerBox != null">inner_box = #{innerBox},</if>
            <if test="outerCtn != null">outer_ctn = #{outerCtn},</if>
            <if test="weightPieces != null">weight_pieces = #{weightPieces},</if>
            <if test="mininumOrderQuantity != null">mininum_order_quantity = #{mininumOrderQuantity},</if>
            <if test="cartonLength != null">carton_length = #{cartonLength},</if>
            <if test="cartonWidth != null">carton_width = #{cartonWidth},</if>
            <if test="cartonHeight != null">carton_height = #{cartonHeight},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="factoryName != null and factoryName != ''">factory_name = #{factoryName},</if>
            <if test="itemCraft != null and itemCraft != ''">item_craft = #{itemCraft},</if>
            <if test="firstLabelId != null">first_label_id = #{firstLabelId},</if>
            <if test="secondLabelId != null">second_label_id = #{secondLabelId},</if>
            <if test="itemRemark != null and itemRemark != ''">item_remark = #{itemRemark},</if>
            <if test="year != null">year = #{year},</if>
            <if test="season != null">season = #{season},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="lastModifyTime != null">last_modify_time = #{lastModifyTime},</if>
            <if test="modifyUserId != null">modify_user_id = #{modifyUserId},</if>
		</trim>
		<where>id = #{id}</where>
	</update>



    <select id="selectAll" resultMap="bizItemBaseRecordResultMap">
        select <include refid="table_columns" />
        from biz_item_base_record
    </select>

    <select id="select" resultMap="bizItemBaseRecordResultMap">
        select <include refid="table_columns" />
        from biz_item_base_record
        <include refid="page_where" />
	</select>

    <select id="getCount" resultType="int" >
        select count(id) from biz_item_base_record
        <include refid="page_where" />
    </select>


    <select id="getByPrimaryKey" resultMap="bizItemBaseRecordResultMap" parameterType="Long" >
		select <include refid="table_columns" />
		from biz_item_base_record
		where id = #{id}
	</select>
	
	<!-- 其他自定义SQL -->


</mapper>