<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.business.repository.BizItemShowRecordMapper">
	<resultMap type="bizItemShowRecord" id="bizItemShowRecordResultMap">
		<result property="id" column="id"/>
		<result property="itemNo" column="item_no"/>
		<result property="itemPic" column="item_pic"/>
		<result property="itemCompressPic" column="item_compress_pic"/>
		<result property="description" column="description"/>
		<result property="itemRemark" column="item_remark"/>
		<result property="year" column="year"/>
		<result property="season" column="season"/>
		<result property="itemStatus" column="item_status"/>
		<result property="delFlag" column="del_flag"/>
		<result property="createTime" column="create_time"/>
		<result property="createUserId" column="create_user_id"/>
		<result property="lastModifyTime" column="last_modify_time"/>
		<result property="modifyUserId" column="modify_user_id"/>
	</resultMap>
	
	<sql id="table_columns">
		id,
		item_no,
		item_pic,
		item_compress_pic,
		description,
		item_remark,
		year,
		season,
		item_status,
		del_flag,
		create_time,
		create_user_id,
		last_modify_time,
		modify_user_id
    </sql>
	<sql id="entity_properties">
		#{id},
		#{itemNo},
		#{itemPic},
		#{itemCompressPic},
		#{description},
		#{itemRemark},
		#{year},
		#{season},
		#{itemStatus},
		#{delFlag},
		#{createTime},
		#{createUserId},
		#{lastModifyTime},
		#{modifyUserId}
	</sql>

    <!-- 使用like用法：columnName like concat('%',#columnName#,'%') -->
    <sql id="page_where">
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="itemNo != null and itemNo != ''">and item_no = #{itemNo}</if>
            <if test="itemPic != null and itemPic != ''">and item_pic = #{itemPic}</if>
            <if test="itemCompressPic != null and itemCompressPic != ''">and item_compress_pic = #{itemCompressPic}</if>
            <if test="description != null and description != ''">and description = #{description}</if>
            <if test="itemRemark != null and itemRemark != ''">and item_remark = #{itemRemark}</if>
            <if test="year != null">and year = #{year}</if>
            <if test="season != null">and season = #{season}</if>
            <if test="itemStatus != null">and item_status = #{itemStatus}</if>
            <if test="delFlag != null">and del_flag = #{delFlag}</if>
            <if test="createTime != null">and create_time = #{createTime}</if>
            <if test="createUserId != null">and create_user_id = #{createUserId}</if>
            <if test="lastModifyTime != null">and last_modify_time = #{lastModifyTime}</if>
            <if test="modifyUserId != null">and modify_user_id = #{modifyUserId}</if>
        </trim>
    </sql>


	<!-- 适用于主键自增类型 -->

    <insert id="insertSelective" parameterType="bizItemShowRecord">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into biz_item_show_record
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="itemNo != null and itemNo != ''">item_no,</if>
            <if test="itemPic != null and itemPic != ''">item_pic,</if>
            <if test="itemCompressPic != null and itemCompressPic != ''">item_compress_pic,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="itemRemark != null and itemRemark != ''">item_remark,</if>
            <if test="year != null">year,</if>
            <if test="season != null">season,</if>
            <if test="itemStatus != null">item_status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="lastModifyTime != null">last_modify_time,</if>
            <if test="modifyUserId != null">modify_user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="itemNo != null and itemNo != ''">#{itemNo},</if>
            <if test="itemPic != null and itemPic != ''">#{itemPic},</if>
            <if test="itemCompressPic != null and itemCompressPic != ''">#{itemCompressPic},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="itemRemark != null and itemRemark != ''">#{itemRemark},</if>
            <if test="year != null">#{year},</if>
            <if test="season != null">#{season},</if>
            <if test="itemStatus != null">#{itemStatus},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="lastModifyTime != null">#{lastModifyTime},</if>
            <if test="modifyUserId != null">#{modifyUserId},</if>
        </trim>
	</insert>



	<delete id="deleteByPrimaryKey" parameterType="Long">
		delete from biz_item_show_record
		where id = #{id}
	</delete>


	<update id="updateByPrimaryKey" parameterType="bizItemShowRecord">
		update biz_item_show_record 
		<trim prefix="set" suffixOverrides=",">
            <if test="itemNo != null and itemNo != ''">item_no = #{itemNo},</if>
            <if test="itemPic != null and itemPic != ''">item_pic = #{itemPic},</if>
            <if test="itemCompressPic != null and itemCompressPic != ''">item_compress_pic = #{itemCompressPic},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="itemRemark != null and itemRemark != ''">item_remark = #{itemRemark},</if>
            <if test="year != null">year = #{year},</if>
            <if test="season != null">season = #{season},</if>
            <if test="itemStatus != null">item_status = #{itemStatus},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="lastModifyTime != null">last_modify_time = #{lastModifyTime},</if>
            <if test="modifyUserId != null">modify_user_id = #{modifyUserId},</if>
		</trim>
		<where>id = #{id}</where>
	</update>



    <select id="selectAll" resultMap="bizItemShowRecordResultMap">
        select <include refid="table_columns" />
        from biz_item_show_record
    </select>

    <select id="select" resultMap="bizItemShowRecordResultMap">
        select <include refid="table_columns" />
        from biz_item_show_record
        <include refid="page_where" />
	</select>

    <select id="getCount" resultType="int" >
        select count(id) from biz_item_show_record
        <include refid="page_where" />
    </select>


    <select id="getByPrimaryKey" resultMap="bizItemShowRecordResultMap" parameterType="Long" >
		select <include refid="table_columns" />
		from biz_item_show_record
		where id = #{id}
	</select>
	
	<!-- 其他自定义SQL -->


</mapper>